
<div class="w3-container"> 
    <br>
    <br>
    
    <h1>Welcome to Tweeter Clone </h1>
    
    <% if current_user.nil? %>
        <h4>To tweet, you need to create an account first or sign in into your account</h4>  
         <figure>
          <%= image_tag('portada.png', size: "1000x600", class: 'registration_img') %>   
       </figure>
    <% end %>
    
    
    <% if current_user %>
        <h4>You are logged in, now you can tweet ;)</h4>  
     
         <button type="button" class="btn btn-warning ">
         <%= link_to 'New Tweet', root_path %> </button>
         <%= render 'form', tweet: @tweet %>
         
         <%= render 'tweets/table' %>

    <% end %>
              

    <br/>
    
    <%# if current_user.nil? %>
     <%#  <button type="button" class="btn btn-warning">
      <%# link_to  "Iniciar sesion", new_user_session_path %> 
    <%#   </button>
    <%#end%>

    <%# if current_user.nil? %>
     <%#  <button type="button" class="btn btn-warning">
      <%#= link_to  "Crear cuenta", new_user_registration_path %>
      <%#  </button>
    <%#end%>

    <br/>
    <br/>

</div>
