<h1>Hola</h1>

<%= link_to  "cerrar sesion", destroy_user_session_path, method: :delete %>
<%= link_to  "Iniciar sesion", new_user_session_path %>
<%= link_to  "Crear cuenta", new_user_registration_path %>