// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#search{
    background-image: url(asset_path('lupa.png'));
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 25px;
    margin-bottom: 5px;
}

input#search:focus{
   background-image: none; 
}
.submit-btn-search{
    background-color: rgb(75, 197, 219);
    border: 2px solid rgba(255,255,255,0);
    border-radius: 2em;
    padding: 0 15px;
    color: #ffffff;
    transition: all 0.3s;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    font-size: 0.8em;
}
.submit-btn-search:hover{
   background-color: rgb(61, 162, 180);
    
}